html, body {
  height: 100vh;
  overflow: hidden;
}

table {
	height: 100%;
	table-layout: fixed;
}

.bingo-board {
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	float: left;
	font-size: 1.5vmin;
}

.bingo, .free {
	text-align: center;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	height: 18%;
	min-height: 18%;
	max-height: 18%;
	vertical-align: middle;
}

th {
	text-align: center;
	height: 5%;
	min-height: 5%;
	width: 20%;
	min-width: 20%;
	max-width: 20%;
}
